@import url(../srcMiniMap/Control.MiniMap.css);
/* Colors */
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../Open_Sans/OpenSans-Regular.ttf") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

input {
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  width: 300px;
  color: #000; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  margin: 0;
  background: #7b7b7b;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif; }

main {
  display: flex;
  flex-direction: column; }

button {
  background-color: #f9a11b;
  border: none;
  height: 32px;
  padding: 0 10px;
  transition: background-color 0.2s;
  cursor: pointer; }
  button:hover {
    background-color: #41b7f8; }

ul {
  padding: 0; }

.input-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10000; }

.main-nav ul {
  margin: 0;
  padding: 20px 10px 0 10px;
  border-bottom: solid 1px buttonface;
  /*height: 30px;*/ }

.main-nav li {
  display: inline-block;
  padding: 4px 0; }

.main-nav li a {
  color: #000;
  text-decoration: none;
  margin: 0 3px;
  padding: 5px 15px;
  border-radius: 10px 10px 0 0;
  border: solid 1px buttonface;
  border-bottom: none;
  background: #fff; }

.main-nav li a.active {
  background: #eac27a;
  border-color: #eac27a;
  color: #fff;
  cursor: default; }

.main-nav li a:hover:not(.active) {
  background: buttonface; }

.flex {
  display: flex; }

/* Components */
.map {
  height: calc(100% - 47px);
  width: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif; }

/*------Aggregator links --------*/
.leaflet-tooltip-pane {
  z-index: 550; }

.leaflet-tooltip {
  border-radius: 5px;
  border: 1px solid rgba(82, 171, 0, 0.55);
  padding: 0;
  box-shadow: none;
  width: 20px;
  height: 18px;
  opacity: 1 !important; }
  .leaflet-tooltip span {
    display: block;
    line-height: 20px;
    width: 22px;
    height: 20px;
    text-align: center;
    padding: 0;
    background-color: #52ab00;
    color: white;
    position: relative;
    border-radius: 5px;
    right: 4px;
    top: 2px; }
  .leaflet-tooltip.leaflet-tooltip-right {
    margin: 0;
    right: -10px; }
  .leaflet-tooltip.leaflet-tooltip-left {
    margin: 0;
    left: 10px; }
  .leaflet-tooltip:before {
    display: none; }
  .leaflet-tooltip.status0 {
    border-color: #41b7f8; }
    .leaflet-tooltip.status0 span {
      background-color: #41b7f8; }
  .leaflet-tooltip.status10 {
    border-color: #f9a11b; }
    .leaflet-tooltip.status10 span {
      background-color: #f9a11b; }
  .leaflet-tooltip.status20 {
    border-color: #ec2437; }
    .leaflet-tooltip.status20 span {
      background-color: #ec2437; }

/*------Aggregator links Popups--------*/
.agg-link {
  line-height: 16px; }
  .agg-link:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 8px; }
  .agg-link.status0 {
    color: #41b7f8; }
    .agg-link.status0:before {
      background-image: url("../assets/svg/links/sevirity-green.png"); }
  .agg-link.status10 {
    color: #f9a11b; }
    .agg-link.status10:before {
      background-image: url("../assets/svg/links/sevirity-orange.png"); }
  .agg-link.status20 {
    color: #ec2437; }
    .agg-link.status20:before {
      background-image: url("../assets/svg/links/sevirity-red.png"); }

/*-------Links------*/
path {
  transition: stroke-width 0.3s; }
  path.status0 {
    stroke: #41b7f8;
    stroke: -webkit-linear-gradient(top, #ff3232 0%, #ff3030 44%, #000000 44%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */ }
  path.status10 {
    stroke: #f9a11b; }
  path.status20 {
    stroke: #ec2437; }
  path:hover {
    stroke-width: 8px; }

/*-------Devices------*/
.device {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.8s; }
  .device svg {
    border-radius: 50%;
    transition: box-shadow 0.3s; }
  .device polygon, .device path, .device rect {
    fill: #FFFFFF; }
  .device .circle {
    fill: #34B3E7; }
  .device .normal {
    display: inline; }
  .device .locked {
    display: none; }
  .device .lines {
    display: none; }
  .device.locked .normal {
    display: none; }
  .device.locked .locked {
    display: inline; }
  .device.locked .lines {
    display: inline; }
  .device.locked .circle {
    stroke-width: 2px;
    stroke: #fff; }
  .device.status0 svg:hover {
    box-shadow: inset 0 0 0px 3px rgba(65, 183, 248, 0.6); }
  .device.status0 svg circle {
    fill: #41b7f8; }
  .device.status10 svg:hover {
    box-shadow: inset 0 0 0px 3px rgba(249, 161, 27, 0.6); }
  .device.status10 svg circle {
    fill: #f9a11b; }
  .device.status20 svg:hover {
    box-shadow: inset 0 0 0px 3px rgba(236, 36, 55, 0.6); }
  .device.status20 svg circle {
    fill: #ec2437; }
  .device:focus.status0 svg {
    box-shadow: inset 0 0 0px 3px rgba(65, 183, 248, 0.6); }
  .device:focus.status10 svg {
    box-shadow: inset 0 0 0px 3px rgba(249, 161, 27, 0.6); }
  .device:focus.status20 svg {
    box-shadow: inset 0 0 0px 3px rgba(236, 36, 55, 0.6); }
  .device.selected svg, .device.selected svg:hover, .device.selected:focus svg {
    box-shadow: inset 0 0 0px 1px #fff;
    transform: scale(1.2, 1.2);
    box-shadow: inset 0 0 0px 1px #607D8B;
    background: #fff; }
  .device .tooltip {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #b4b4b4;
    font-size: 11px;
    padding: 0 10px;
    position: absolute;
    top: -25px; }
  .device:focus {
    outline: none; }
  .device:hover .tooltip {
    display: block;
    opacity: 1; }

/*-------Clusters------*/
.cluster {
  width: 29px;
  height: 29px; }
  .cluster span {
    line-height: 30px;
    color: white; }
  .cluster.status0 {
    background-color: rgba(65, 183, 248, 0.5); }
    .cluster.status0 div {
      background-color: #41b7f8; }
  .cluster.status10 {
    background-color: rgba(249, 161, 27, 0.5); }
    .cluster.status10 div {
      background-color: #f9a11b; }
  .cluster.status20 {
    border: rgba(236, 36, 55, 0.5); }
    .cluster.status20 div {
      background-color: #ec2437; }

/*-------Device Popups------*/
.device-popup {
  width: 210px; }
  .device-popup .leaflet-popup-tip-container {
    transform: rotate(-90deg);
    right: -30px;
    left: auto;
    bottom: 18px; }
  .device-popup .value {
    font-weight: bold; }
  .device-popup .icon-container {
    display: flex;
    justify-content: space-between; }
  .device-popup .icon {
    width: 16%; }
    .device-popup .icon:hover {
      cursor: pointer; }
      .device-popup .icon:hover circle {
        fill: #E0F3FA; }

.map-controls {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 500; }
  .map-controls > * {
    margin-right: 15px; }
