html,
body,
.map {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    background: #7b7b7b;
}

.leaflet-popup-content {
    width: 256px !important;
}

.link-agg-el {
    background: #52ab00;
    width: auto !important;
    height: auto !important;
    padding: 2px 8px;
    border-radius: 3px;
    color: #fff;
}

button {
    background-color: orange;
}

.input-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10000;
}

.main-nav ul {
    margin-bottom: 0;
    padding: 0 10px;
    border-bottom: solid 1px buttonface;
}

.main-nav li {
    display: inline-block;
    padding: 4px 0;
}

.main-nav li a {
    color: #000;
    text-decoration: none;   
    margin: 0 3px;
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
    border: solid 1px buttonface;
    border-bottom: none;
    background: #fff;
}

.main-nav li a.active {
    background: #eac27a;
    border-color: #eac27a;
    color: #fff;
    cursor: default;
}

.main-nav li a:hover:not(.active) {
    background: buttonface;
}

/*---------Mini map Bing----------*/
/* style for the container determines the size and location of the minimap */
.minimap-container
{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 90;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.minimap-glyph
{
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
    cursor: pointer;
    padding: 0px 5px;
}

/* upper right corner of the map */
.minimap-glyph.minimap-glyph-show
{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
}

/* lower left corner with a z-index to make it show above the minimap */
.minimap-glyph.minimap-glyph-hide
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 100;
}
