.leaflet-tooltip {
    /*box-sizing: border-box;*/
    border-radius: 5px;
    border: 2px solid rgba(82, 171, 0, 0.55);
    padding: 0;
    box-shadow: none;
    width: 20px;
    height: 20px;
    /*text-align: center;*/
}

.leaflet-tooltip-right {
    margin: 0;
    right: -10px;
}

.leaflet-tooltip-left {
    margin: 0;
    left: 10px;
}

.leaflet-tooltip:before {
    display: none;
}

.leaflet-tooltip span {
    /*box-sizing: border-box;    */
    display: block;
    line-height: 1.8;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    background-color: rgba(82, 171, 0, 1);
    border: 2px solid rgba(82, 171, 0, 0.55);    
    color: white;
    position: relative;
    border-radius: 5px;
    right: 5px;
    top: 1px;
}