html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #7b7b7b;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

button {
    background-color: orange;
}

.input-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10000;
}

.main-nav ul {
    margin: 0;
    padding: 20px 10px 0 10px;
    border-bottom: solid 1px buttonface;
    /*height: 30px;*/
}

.main-nav li {
    display: inline-block;
    padding: 4px 0;
}

.main-nav li a {
    color: #000;
    text-decoration: none;
    margin: 0 3px;
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
    border: solid 1px buttonface;
    border-bottom: none;
    background: #fff;
}

.main-nav li a.active {
    background: #eac27a;
    border-color: #eac27a;
    color: #fff;
    cursor: default;
}

.main-nav li a:hover:not(.active) {
    background: buttonface;
}