.map {
    height: calc(100% - 47px);
    width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/*------Aggregator links --------*/

.leaflet-tooltip-pane {
    z-index: 550;
}

.leaflet-tooltip {
    border-radius: 5px;
    border: 1px solid rgba(82, 171, 0, 0.55);
    padding: 0;
    box-shadow: none;
    width: 20px;
    height: 18px;
    opacity: 1 !important;
    span {
        display: block;
        line-height: 20px;
        width: 22px;
        height: 20px;
        text-align: center;
        padding: 0;
        background-color: #52ab00;
        color: white;
        position: relative;
        border-radius: 5px;
        right: 4px;
        top: 2px;
    }
    &.leaflet-tooltip-right {
        margin: 0;
        right: -10px;
    }
    &.leaflet-tooltip-left {
        margin: 0;
        left: 10px;
    }
    &:before {
        display: none;
    }
    &.status0 {
        border-color: $default-color;
        span {
            background-color: $default-color;
        }
    }
    &.status10 {
        border-color: $warning-color;
        span {
            background-color: $warning-color;
        }
    }
    &.status20 {
        border-color: $error-color;
        span {
            background-color: $error-color;
        }
    }
}


/*------Aggregator links Popups--------*/

.agg-link {
    line-height: 16px;
    &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 16px;
        margin-right: 8px;
    }
    &.status0 {
        color: $default-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-green.png');
        }
    }
    &.status10 {
        color: $warning-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-orange.png');
        }
    }
    &.status20 {
        color: $error-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-red.png');
        }
    }
}


/*-------Links------*/

path {
    transition: stroke-width 0.3s;
    &.status0 {
        stroke: $default-color;
        stroke: -webkit-linear-gradient(top, #ff3232 0%,#ff3030 44%,#000000 44%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    }
    &.status10 {
        stroke: $warning-color;
    }
    &.status20 {
        stroke: $error-color;
    }
    &:hover {
        stroke-width: 8px;
    }
}

/*-------Devices------*/

.device {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.8s;

    svg {
        // position: relative;
        // top: -100%;
        // left: -100%;
        // width: 40px;
        // height: 40px;
        border-radius: 50%;
        // box-sizing: border-box;
        transition: box-shadow 0.3s;
    }
    polygon, path, rect {fill:#FFFFFF;} 
    .circle{fill:#34B3E7;}
    .normal{display:inline;}
    .locked{display:none;}
    .lines {display: none;}
    &.locked {
        .normal{display: none;}
        .locked{display: inline;}
        .lines {display: inline;} 
        .circle {
            stroke-width: 2px;
            stroke: #fff;
        } 
    }
    &.status0 svg {
        &:hover {
            box-shadow: inset 0 0 0px 3px transparentize($default-color, 0.4);
        }
        circle {
            fill: $default-color;
        }
    }
    &.status10 svg {
        &:hover {
            box-shadow: inset 0 0 0px 3px transparentize($warning-color, 0.4);
        }
        circle {
            fill: $warning-color;
        }
    }
    &.status20 svg {
        &:hover {
            box-shadow: inset 0 0 0px 3px transparentize($error-color, 0.4);
        }
        circle {
            fill: $error-color;
        }
    }


    &:focus {
        &.status0 svg {
            box-shadow: inset 0 0 0px 3px transparentize($default-color, 0.4);
        }
        &.status10 svg {
            box-shadow: inset 0 0 0px 3px transparentize($warning-color, 0.4);
        }
        &.status20 svg {
            box-shadow: inset 0 0 0px 3px transparentize($error-color, 0.4);
        }
    }




    &.selected svg, &.selected svg:hover, &.selected:focus svg {
        box-shadow: inset 0 0 0px 1px #fff;
        transform: scale(1.2, 1.2);

        //changes to see on Esri Map
        box-shadow: inset 0 0 0px 1px #607D8B;
        background: #fff;
    }
    .tooltip {
        // display: none;
        // opacity: 0;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #b4b4b4;
        font-size: 11px;
        padding: 0 10px;
        position: absolute;
        
        top: -25px;

        // right: 50px;
        // bottom: 12px;
        // transition: opacity 0.3s;

    }
    &:focus {
        outline: none;
    }
    &:hover {
        .tooltip {
            display: block;
            opacity: 1;
        }
    }
}




/*-------Clusters------*/

.cluster {
    background-color: #fff;
    width: 29px;
    height: 29px;
    
    div {
        position: absolute;
        top: 2px;
        right: 2px;
        margin: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
    }
    span {
        line-height: 30px;
        color: white;
    }
    &.status0 {
        border: solid 1px $default-color;
        div {
            background-color: $default-color;
        }
    }
    &.status10 {
        border: solid 1px $warning-color;
        div {
            background-color: $warning-color;
        }
    }
    &.status20 {
        border: solid 1px  $error-color;
        div {
            background-color: $error-color;
        }
    }
}

/*-------Device Popups------*/

.device-popup {

    width: 210px;

    .leaflet-popup-tip-container {
        transform: rotate(-90deg);
        right: -30px;
        left: auto;
        bottom: 18px;
    }
    .value {
        font-weight: bold;
    }
    .icon-container {
        display: flex;
        justify-content: space-between;
    }
    .icon {
        width: 16%;
        &:hover {
            cursor: pointer;
            circle {
                fill: #E0F3FA;
            }
        }
    }
}

.map-controls {
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 500;
    > * {
        margin-right: 15px;
    }
}