/*-----Tooltips-----*/

.leaflet-tooltip-pane {
    z-index: 550;
}

.leaflet-tooltip {
    /*box-sizing: border-box;*/
    border-radius: 5px;
    border: 1px solid rgba(82, 171, 0, 0.55);
    padding: 0;
    box-shadow: none;
    width: 20px;
    height: 18px;
    opacity: 1 !important;
    /*text-align: center;*/
    span {
        display: block;
        line-height: 20px;
        width: 22px;
        height: 20px;
        text-align: center;
        padding: 0;
        background-color: #52ab00;
        color: white;
        position: relative;
        border-radius: 5px;
        right: 4px;
        top: 2px;
    }
    &.leaflet-tooltip-right {
        margin: 0;
        right: -10px;
    }
    &.leaflet-tooltip-left {
        margin: 0;
        left: 10px;
    }
    &:before {
        display: none;
    }
    &.status0 {
        border-color: $default-color;
        span {
            background-color: $default-color;
        }
    }
    &.status10 {
        border-color: $warning-color;
        span {
            background-color: $warning-color;
        }
    }
    &.status20 {
        border-color: $error-color;
        span {
            background-color: $error-color;
        }
    }
}


/*------Aggregator links--------*/

.agg-link {
    line-height: 16px;
    &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 16px;
        margin-right: 8px;
    }
    &.status0 {
        color: $default-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-green.png');
        }
    }
    &.status10 {
        color: $warning-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-orange.png');
        }
    }
    &.status20 {
        color: $error-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-red.png');
        }
    }
}


/*-------pathes------*/

path {
    &.status0 {
        stroke: $default-color;
    }
    &.status10 {
        stroke: $warning-color;
    }
    &.status20 {
        stroke: $error-color;
    }
}


/*-------Devices------*/

.myDivIcon  {
    &.status0 circle {
        fill: $default-color;
    }
    &.status10 circle {
        fill: $warning-color;
    }
    &.status20 circle {
        fill: $error-color;
    }
}

.myDivIcon svg {
    position: relative;
    top: -100%;
    left: -100%;
    width: 40px;
    height: 40px;
}

.myDivIcon .lines {
    display: none;
}

 
/*-------Devices------*/

.leaflet-marker-icon {
    &.status0 {
        background-color: $default-color;
    }    
    &.status10 {
        background-color: rgba(181, 112, 6, 0.29);
    }    
    &.status20 {
        background-color: rgba(237, 0, 23, 0.37);
    }
}
.leaflet-marker-icon {
    &.status0 div {
        background-color: rgba(35, 199, 35, 0.65);
    }    
    &.status10 div { 
        background-color: rgba(255, 160, 16, 0.57);
    }    
    &.status20 div {
        background-color: rgba(199, 13, 27, 0.6);
    }    
} 
.marker-cluster span {
    line-height: 30px;
    color: white;
} 
// .marker-cluster-small {
// 	background-color: rgba(181, 226, 140, 0.6);
// 	}
// .marker-cluster-small div {
// 	background-color: rgba(110, 204, 57, 0.6);
// 	}

// .marker-cluster-medium {
// 	background-color: rgba(241, 211, 87, 0.6);
// 	}
// .marker-cluster-medium div {
// 	background-color: rgba(240, 194, 12, 0.6);
// 	}

// .marker-cluster-large {
// 	background-color: rgba(253, 156, 115, 0.6);
// 	}
// .marker-cluster-large div {
// 	background-color: rgba(241, 128, 23, 0.6);
// 	}
// .marker-cluster-0 {
     
// }  
// .marker-cluster-10 {

// }  
// .marker-cluster-20 {

// }  