/*-----Tooltips-----*/

.leaflet-tooltip-pane {
    z-index: 550;
}

.leaflet-tooltip {
    /*box-sizing: border-box;*/
    border-radius: 5px;
    border: 1px solid rgba(82, 171, 0, 0.55);
    padding: 0;
    box-shadow: none;
    width: 20px;
    height: 18px;
    opacity: 1 !important;
    /*text-align: center;*/

    span {
        display: block;
        line-height: 20px;
        width: 22px;
        height: 20px;
        text-align: center;
        padding: 0;
        background-color: #52ab00;
        color: white;
        position: relative;
        border-radius: 5px;
        right: 4px;
        top: 2px;
    }

    &.leaflet-tooltip-right {
        margin: 0;
        right: -10px;
    }

    &.leaflet-tooltip-left {
        margin: 0;
        left: 10px;
    }
    &:before {
        display: none;
    }
    &.status0 {
        border-color: $default-color;
        span {
            background-color: $default-color;
        }
    }
    &.status10 {
        border-color: $warning-color;
        span {
            background-color: $warning-color;
        }
    }
    &.status20 {
        border-color: $error-color;
        span {
            background-color: $error-color;
        }
    } 
}

/*------Aggregator links--------*/

.agg-link {
    line-height: 16px;
    &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 16px;
        margin-right: 8px;
    }
    &.status0 {
        color: $default-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-green.png');
        }
    }
    &.status10 {
        color: $warning-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-orange.png');
        }
    }
    &.status20 {
        color: $error-color;
        &:before {
            background-image: url('../assets/svg/links/sevirity-red.png');
        }
    }    
}

/*-------pathes------*/

path {
    &.status0 {
        stroke: $default-color;
    }
    &.status10 {
        stroke: $warning-color;
    }
    &.status20 {
        stroke: $error-color;
    }   
}

.myDivIcon circle.st0 {
    fill: purple;
}

.myDivIcon svg {
    width: 30px;
    height: 30px;
}